:root {
	--gray-1: #3f3f3f;
	--gray-2: #32353a;
	--gray-3: #25282c;
	--gray-4: #151618;
	--bg-gray: #555555;
	--white-1: #eeeeee;
	--white-2: #a9abb3;
}

* {
	font-family: inherit;
	text-decoration: none;
	margin: 0;
	padding: 0;
	-webkit-user-drag: none;
	-moz-window-dragging: none;
	-webkit-tap-highlight-color: transparent;
}

* img {
	max-width: 100%;
}

html,
body {
	color: var(--white-2);
	font-family: "JetBrains Mono", monospace;
	line-height: 2rem;
	background-color: var(--bg-gray);
}

header {
	padding: 2rem 0 4rem 0;
}

.content a {
  color: cyan;
  border-bottom: 1px solid cyan;
}

footer {
	font-size: 8px;
}

hr {
	border-top: 2px dashed var(--white-2)!important;
	border-bottom: none!important;
	border-left: none!important;
	border-right: none!important;
	margin-bottom: 1.75rem!important;
}
